<template>
  <div class="choice columns is-vcentered" @click="setActive(choice)">
    <p class="column is-11">{{ choice.text }}</p>
    <span class="icon column has-text-centered"><i class="fas fa-comment-dots"></i></span>
  </div>
</template>

<script>
  export default {
    name: 'choosing-answer',
    props: {
      choice: Object
    },
    methods: {
      setActive (choice) {
        this.$emit('setActive', choice)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .choice {
    margin: 0.25% 0;
    background: #e6cd00;
    padding: 2%;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
    font-size: 1.3em;
    line-height: 110%;

    span {
      height: 5%;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      background: #fff7b2;
      span {
        opacity: 1;
      }
    }
  }
</style>
