<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-card content">
      <header class="modal-card-head">
        <h1>{{ quiz.question }}</h1>
      </header>

      <div class="modal-card-body">
        <p>{{ answer }}</p>
      </div>

      <footer class="modal-card-foot buttons has-addons is-centered">
        <button class="button is-red is-rounded is-medium" @click="closeModal">
          <span class="icon"><i class="fas fa-times"></i></span>
          <span>Return</span>
        </button>

        <button class="button is-green is-rounded is-medium check-answer" @click="checkAnswer">
          <span>Confirm</span>
          <span class="icon"><i class="fas fa-check"></i></span>
        </button>
      </footer>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'ConfirmModal',
    props: {
      isActive: Boolean,
      selectedSpeech: Object
    },
    computed: {
      ...mapState(['selectedTown', 'confirmAnswer', 'towns']),
      quiz () {
        return this.selectedTown.quiz
      },
      choices () {
        return this.quiz.choices
      },
      answer () {
        const index = this.choices.indexOf(this.confirmAnswer)
        return this.choices[index].text
      }
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      },
      checkAnswer () {
        this.$store.commit('setSelectedSpeech', this.selectedSpeech)
        this.$store.commit('setSceneCompleted', this.selectedTown)
        this.$store.commit('computeScore', this.selectedSpeech)

        this.$router.push('/town')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal {
    font-family: "Acme Regular", sans-serif;

    h1 {
      font-size: 2em;
    }

    p {
      font-size: 1.8em;
    }
  }

  .modal-card {
    border: 3px solid #1a1e1f;
    border-radius: 25px;

    > .modal-card-head,
    .modal-card-body,
    .modal-card-foot {
      background-color: #c0c0c0;
      border: none;
    }
  }
</style>
