<template>
  <section
    :style="{ backgroundImage: `url(${require(`@/assets/images/town-map/town-map-${consequence.name.toLowerCase()}.jpg`)})` }">
    <div class="container">
      <div class="columns is-vcentered is-mobile">
        <div class="column is-half">
          <img :src="require(`@/assets/images/speech/mayor-${consequence.name.toLowerCase()}-consequence.png`)"
               :alt="`Image of ${consequence.name.toLowerCase()} ending`"/>
        </div>

        <div class="column is-5 has-text-centered">
          <div class="consequence">
            <h1>{{ consequence.title }}</h1>

            <p>Vote count: {{ voteCount }}%</p>
            <progress class="progress is-large" :class="[ voteCount >= 75 ? 'is-success' : 'is-danger' ]"
                      :value="voteCount" max="100"></progress>

            <div class="has-text-centered">
              <p class="content">{{ consequence.description }}</p>

              <div class="buttons is-centered">
                <button class="button is-green is-rounded is-large try-again" @click="tryAgain">
                  <span>Play Again?</span>
                  <span class="icon"><i class="fas fa-university"></i></span>
                </button>

                <button class="button is-green is-rounded is-large goto-credits" @click="gotoCredits">
                  <span>End</span>
                  <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <audio :src="require(`@/assets/audio/${consequence.name.toLowerCase()}-ending.mp3`)" autoplay></audio>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Consequence',
    computed: {
      ...mapState(['consequences', 'towns', 'totalScore']),
      voteCount () {
        return this.totalScore / this.towns.length * 100
      },
      consequence () {
        return this.consequences.find(consequence => this.voteCount >= consequence.threshold)
      }
    },
    methods: {
      tryAgain () {
        this.$store.commit('resetSelectedScene')

        this.$router.push('/town')
      },
      gotoCredits () {
        this.$router.push('/credits')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $acme: 'acme regular', sans-serif;
  $jua: 'jua regular', sans-serif;
  $black: #1a1e1f;

  section {
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;

    h1 {
      font-family: $acme;
      font-size: 1.2em;
    }

    p {
      font-family: $acme;
      font-size: 0.8em;
    }
  }

  img {
    width: 80%;
  }

  .is-forward {

    button {
      width: 50%;
      height: 100%;
    }

    span {
      position: absolute;
      font-size: 1.2em;
      left: 5%;
    }

    img {
      width: 15%;
      padding: 0.75%;
      margin-left: 40%;
    }
  }

  .section {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .consequence {
    font-size: 2.5em;
    background: rgba(192, 192, 192, 0.9);
    border-radius: 25px;
    padding: 5%;
  }
</style>
