<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/town-map/town-map.jpg`)})`}">
    <div class="hero-body">
      <div class="container">
        <div class="splash-drop has-text-centered">
          <div class="splash-title is-uppercase animated fadeIn">
            <h2>Pine Ville</h2>
            <h1>Pine Ville</h1>

            <div class="buttons is-centered">
              <button class="button is-green is-rounded is-large start-button" @click="start">
                <span class="is-uppercase">Begin</span>
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
              </button>
            </div>
          </div>

          <div class="splash-images">
            <img id="mayor" class="animated bounceInUp" :src="require(`@/assets/images/speech/mayor-talk-two.png`)"
                 alt="Image of Mayor">

            <img :id="scene.name.toLowerCase().replace(/\s+/g, '-')" class="animated bounceInUp"
                 :src="require(`@/assets/images/characters/${scene.character}`)" :alt="`Image of ${scene.name}`"
                 :key="scene.name" v-for="scene in towns">
          </div>
        </div>
      </div>
    </div>

    <transition enter-active-class="animated fadeIn">
      <plans :key="isActive" :isActive="isActive"></plans>
    </transition>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import Plans from '@/components/Plans'

  export default {
    name: 'Introduction',
    components: { Plans },
    computed: {
      ...mapState(['towns'])
    },
    data () {
      return {
        isActive: false
      }
    },
    methods: {
      start () {
        this.isActive = true
      }
    }
  }
</script>

<style lang="scss" scoped>
  $passion: 'passionone regular', sans-serif;
  $bold: 'passionone bold', sans-serif;
  $acme: 'acme regular', sans-serif;
  $jua: 'jua regular', sans-serif;
  $black: #1a1e1f;

  section {
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  .container {
    height: inherit;
  }

  .splash-drop {
    .splash-title {
      position: relative;
      z-index: 1;
      font-family: $passion;

      h1, h2 {
        position: absolute;
        letter-spacing: 0.5vw;
        font-size: 13em;
        left: 15%;
      }

      h1 {
        background: -webkit-linear-gradient(#ffe090, #ff8a00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h2 {
        text-shadow: 8px 8px 0 #5a330a, -8px -8px 0 #5a330a, 0 8px 0 #5a330a, 9px -8px 0 #5a330a, 8px 8px #5a330a, -8px -8px 0 #5a330a, 8px -8px 0 #5a330a, -7px 8px 0 #5a330a;
      }
    }

    .splash-images {
      position: relative;
      z-index: 0;

      img {
        margin: 20% -3% 0;
        width: 18vw;
      }

      #business-owner {
        animation-delay: 0.5s;
      }

      #farmer {
        animation-delay: 1s;
      }

      #nature-lover {
        animation-delay: 0.5s;
      }
    }
  }

  .buttons {
    position: relative;
    top: 30vh;
    left: 0;
    right: 0;
  }
</style>
