<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/images/speech/rally-bg.jpg`)})` }">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-half">
          <transition name="popup">
            <div class="has-text-right" v-if="loading">
              <img :src="require(`@/assets/images/characters/chr-mayor.png`)" alt="Image of Mayor">
            </div>
          </transition>
        </div>

        <div class="column is-half">
          <div class="mayor-speech-bubble is-size-5">
            <p class="content">
              "Hi! I am Mayor Augustine! I am so excited to be the new representative of PineVille.
              I have heard so much about the town, about how green it is, how its people really care for one another...
            </p>

            <p class="content">
              But I think the town can do with a little more.
              From what I know, people can do with a little more convenience.
              A shopping centre for instance! A rail network!
              Things that will make life easier and better!
              I am looking forward to improving PineVille and I hope the residents are too!"
            </p>

            <p class="content">
              <i>Speak to the residents and find out about them. Click on the option which I should be emphasising on in my speech, so I can win them over! Whether my plan goes through or not depends on you!</i>
            </p>

            <div class="buttons is-centered">
              <button class="button is-rounded is-large" :class="[ scenesCompleted ? 'is-green' : 'is-red' ]"
                      @click="goto(scenesCompleted)">
                <span>{{ scenesCompleted ? 'Speech' : 'Return' }}</span>
                <span class="icon is-large"><i class="fas fa-university"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <audio :src="require(`@/assets/audio/mayor-intro.mp3`)" autoplay v-if="!isMayorSelected"></audio>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'Mayor',
    data () {
      return {
        loading: false,
        buttonIcon: 'back-town.svg'
      }
    },
    mounted () {
      this.loading = true
      this.reduceAudio()
    },
    computed: {
      ...mapState(['isMayorSelected', 'scenes']),
      ...mapGetters(['scenesCompleted']),
      isSceneCompleted () {
        let completeCount = 0

        this.towns.forEach(scene => {
          if (scene.completed) completeCount++
        })

        if (completeCount === 4) {
          this.buttonIcon = 'speech.svg'
        }

        return completeCount
      }
    },
    methods: {
      goto (status) {
        this.$store.commit('setMayorSelected')
        this.reduceAudio()

        switch (status) {
          case true:
            this.$router.push('/speech')
            break
          case false:
            this.$router.push('/town')
            break
          default:
            break
        }
      },
      reduceAudio () {
        const bgMusic = document.getElementById('bg-music')
        if (bgMusic.volume > 0.5) {
          bgMusic.volume = 0.5
        } else {
          bgMusic.volume = 1
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $acme: 'acme regular', sans-serif;
  $jua: 'jua regular', sans-serif;
  $black: #1a1e1f;

  section {
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }

  .mayor-speech-bubble {
    font-family: $jua;
    background: rgba(192, 192, 192, 0.9);
    border-radius: 25px;
    border: 3px solid $black;
    padding: 5%;
  }

  .is-forward {
    width: 70%;

    span {
      position: absolute;
      font-size: 1.2em;
      left: 10%;
    }

    img {
      width: 10%;
      padding: 1%;
      margin-left: 35%;
    }
  }
</style>
