<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-card">
      <header class="modal-card-head has-text-centered">
        <p class="modal-card-title is-size-2">Mayor's Plan</p>
      </header>

      <div class="modal-card-body">
        <img class="image" v-if="plan.image" :src="require(`@/assets/images/slides/${plan.image}`)" alt="Image here"/>

        <p class="content is-size-4">{{ plan.item }}</p>
      </div>

      <div class="modal-card-foot buttons has-addons is-centered">
        <div class="buttons has-addons is-centered" v-if="planIndex !== 0">
          <button class="button is-rounded is-large is-back is-red" @click="backPlan">
            <span class="icon is-large"><i class="fas fa-arrow-left"></i></span>&emsp;
            <span>Back</span>
          </button>

          <button class="button is-rounded is-large is-next"
                  :class="[ planIndex >= plans.length - 1 ? 'is-green' : 'is-yellow' ]" @click="nextPlan">
            <span>{{ planIndex >= plans.length - 1 ? 'Go to Town' : 'Next' }}</span>
            <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
          </button>
        </div>

        <div class="buttons is-centered" v-else>
          <button class="button is-rounded is-large is-next"
                  :class="[ planIndex >= plans.length - 1 ? 'is-green' : 'is-yellow' ]" @click="nextPlan">
            <span>{{ planIndex >= plans.length - 1 ? 'Go to Town' : 'Next' }}</span>
            <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Plans',
    props: {
      isActive: Boolean
    },
    data () {
      return {
        plans: [
          {
            item: 'In this game, you will help Mayor Augustine advance his plan of developing the town.',
            image: 'slide-1.png'
          },
          {
            item: 'He will need to convince the different groups of people in his town with his speeches.',
            image: 'slide-2.png'
          },
          {
            item: 'Remember to read their profile or speak to them to understand their needs.',
            image: 'slide-3.png'
          },
          {
            item: 'Knowing their stance on certain matters will help you select the best arguments that will help Mayor Augustine win them over.',
            image: 'slide-4.png'
          },
          {
            item: 'Mayor Augustine will need a minimum of 70% votes for his plan to go through. Good luck!'
          },
          {
            item: 'The Mayor plans to build a five-storey shopping centre housing a total of 350 shops in PineVille.',
            image: 'slide-6.png'
          },
          {
            item: 'He also aims to make the town more connected by having a rail network to cut travelling time by half.'
          },
          {
            item: 'However, these plans will mean that a part of the forests and a part of what is now farmland will need to make way.',
            image: 'slide-8.png'
          }
        ],
        planIndex: 0
      }
    },
    computed: {
      ...mapState(['scenes']),
      plan () {
        return this.plans[this.planIndex]
      }
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      },
      nextPlan () {
        if (this.planIndex >= this.plans.length - 1) {
          this.$router.push('/town')
        } else {
          this.planIndex++
        }
      },
      backPlan () {
        this.planIndex--
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-card-body {
    font-family: "Jua Regular", sans-serif;
  }

  .modal-card {
    border: 3px solid #1a1e1f;
    border-radius: 25px;

    > .modal-card-head, .modal-card-body, .modal-card-foot {
      background-color: rgba(192, 192, 192, 0.9);
      border: none;
    }

    > .modal-card-head {
      font-family: "Acme Regular", sans-serif;
      height: 10%;
    }

    > .modal-card-body {

      .image {
        margin: 0 auto 2%;
        width: 90%;
      }

      p {
        padding: 0 2%;
      }
    }
  }

  .modal-card-foot {
    .buttons {
      position: relative;
      width: 100%;

      .is-next {
        position: relative;
        right: 0;
        bottom: 0;
      }

      .is-back {
        position: relative;
        left: 0;
        bottom: 0;
      }
    }
  }
</style>
