<template>
    <section class="section"
             :style="{ backgroundImage: `url(${require(`@/assets/images/backgrounds/bg-${selectedTown.name.toLowerCase().replace(/\s+/g, '-')}.jpg`)})` }">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-one-quarter">
                    <div class="buttons">
                        <button class="button is-grey is-rounded is-large" @click="checkDescription">
                            <span>Description</span>
                            <span class="icon"><i class="fas fa-question"></i></span>
                        </button>
                    </div>

                    <div class="buttons">
                        <button class="button is-orange is-rounded is-large" @click="checkResident">
                            <span>Speak to person</span>
                            <span class="icon"><i class="fas fa-smile"></i></span>
                        </button>
                    </div>

                    <div class="buttons">
                        <button class="button is-yellow is-rounded is-large" :disabled="isDisabled"
                                @click="checkQuestion">
                            <span>Select your option</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </button>
                    </div>

                    <div class="buttons">
                        <button class="button is-red is-rounded is-large" @click="backToScene">
                            <span>Back to Town</span>
                            <span class="icon"><i class="fas fa-university"></i></span>
                        </button>
                    </div>
                </div>

                <transition name="popup">
                    <div class="resident-image column is-half has-text-centered" v-if="isMember">
                        <img :src="require(`@/assets/images/characters/${selectedTown.character}`)">
                    </div>
                </transition>

                <div class="box is-one-quarter" style="background: #ffa400" v-if="isMember">
                    <p class="is-size-4 content">"{{ member }}"</p>

                    <audio :src="require(`@/assets/audio/speak-to-${selectedTown.name.toLowerCase().replace(/\s+/g, '-')}.mp3`)"
                           autoplay ref="resident"></audio>
                </div>

                <div class="box description-box is-one-quarter " v-else-if="isDescription">
                    <p class="is-size-4 content">{{ description }}</p>
                    <div class="desc-image has-text-centered">
                        <img :src="require(`@/assets/images/characters/${selectedTown.descImage}`)" alt="">
                    </div>
                </div>

                <div class="box" v-if="isQuestion">
                    <p class="question-title content">{{ quiz.question }}</p>

                    <div class="question column" v-for="choice in quiz.choices">
                        <choosing-answer :key="choice.id" :choice="choice" @setActive="setActive"/>
                    </div>
                </div>
            </div>

            <confirm-modal :isActive="isActive" :selectedSpeech="selectedSpeech" @closeModal="closeModal"
                           v-if="isActive"/>
        </div>
    </section>
</template>

<script>
  import { mapState } from 'vuex'
  import ConfirmModal from '@/components/ConfirmModal'
  import ChoosingAnswer from '@/components/ChoosingAnswer'

  export default {
    name: 'Resident',
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.state.selectedTown) {
          next()
        } else {
          vm.$router.push('/town')
        }
      })
    },
    beforeRouteLeave (to, from, next) {
      if (to.path === '/town') this.playBGM(require(`@/assets/audio/bg-intro.mp3`))
      next()
    },
    components: {ConfirmModal, ChoosingAnswer},
    data () {
      return {
        isDescription: false,
        isMember: false,
        isQuestion: false,
        isDisabled: true,
        isActive: false,
        selectedSpeech: {}
      }
    },
    computed: {
      ...mapState(['selectedTown']),
      quiz () {
        return this.selectedTown.quiz
      },
      choices () {
        return this.quiz.choices
      },
      description () {
        return this.selectedTown.description
      },
      member () {
        return this.selectedTown.member
      }
    },
    mounted () {
      this.playBGM(require(`@/assets/audio/bg-villagers.mp3`))
      this.reduceAudio()
    },
    methods: {
      playBGM (path) {
        const bgMusic = document.getElementById('bg-music')
        bgMusic.src = path

        bgMusic.play()
      },
      backToScene () {
        this.$store.commit('setSceneUncompleted', this.selectedTown)
        this.reduceAudio()
        this.$router.push('/town')
      },
      checkDescription () {
        this.isDescription = true
        this.isMember = false
        this.isQuestion = false
        this.isDisabled = false
      },
      checkResident () {
        this.isDescription = false
        this.isMember = true
        this.isQuestion = false
        this.isDisabled = false
      },
      checkQuestion () {
        this.isDescription = false
        this.isMember = false
        this.isQuestion = true
      },
      setActive (choice) {
        this.isActive = true
        this.selectedSpeech = choice

        this.$store.commit('setConfirmAnswer', choice)
      },
      closeModal () {
        this.isActive = false
      },
      reduceAudio () {
        const bgMusic = document.getElementById('bg-music')
        if (bgMusic.volume > 0.5) {
          bgMusic.volume = 0.5
        } else {
          bgMusic.volume = 1
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    $acme: 'acme regular', sans-serif;
    $jua: 'jua regular', sans-serif;
    $black: #1a1e1f;

    section {
        height: 100vh;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

    .is-description, .is-town, .is-option, .is-resident {
        width: 150%;
        margin-bottom: 5%;

        button {
            width: 100%;
            height: 100%;
        }

        span {
            position: absolute;
            font-size: 1.05em;
            left: 5%;
        }

        img {
            width: 15%;
            padding: 0.75%;
            margin-left: 55%;
        }
    }

    .button {
        justify-content: start;
        width: 100%;

        > span {
            &.icon {
                position: absolute;
                right: 10%;
            }
        }
    }

    .box {
        height: 90vh;
        overflow-x: hidden;
        overflow-y: hidden;
        font-family: $jua;
        border-radius: 25px;
        border: 3px solid $black;
        background: rgba(192, 192, 192, 0.9);
        position: relative;
        transition: all 0.5s;

        .desc-image {
            img {
                width: 45%;
            }
        }
    }

    .question-title {
        padding: 1% 0;
        font-family: $acme;
        font-size: 1.9em;
    }

    .resident-image {

        img {
            margin: -5% auto 0;
            width: 85%;
        }
    }
</style>
