<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/images/speech/rally-bg.jpg`)})` }" ref="section">
    <div class="section" v-if="!showCrowd">
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-7">
            <div class="box">
              <p class="content">"{{ arraySpeechScene[speechIndex].speech }}"</p>
            </div>
          </div>

          <div class="column is-5">
            <img :src="require(`@/assets/images/speech/mayor-talk.png`)" alt="Image of Mayor speaking">
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-mobile" v-else>
      <div class="column">
        <video :src="getVideo" autoplay loop v-if="getVideo"></video>

        <div class="buttons is-centered" v-if="showNextButton">
          <button class="button is-green is-rounded is-large" @click="incrementSpeechIndex">
            <span>Next</span>
            <span class="icon"><i class="fa fa-arrow-right"></i></span>
          </button>
        </div>
      </div>
    </div>

    <audio :src="showCrowd ? crowdAudio : arraySpeechScene[speechIndex].audio " autoplay
           @ended="handleAudioEnded"></audio>
    <audio :src="require(`@/assets/audio/speech-crowd.mp3`)" autoplay loop></audio>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Speech',
    data () {
      return {
        showNextButton: false,
        showCrowd: false,
        speechIndex: 0
      }
    },
    computed: {
      ...mapState(['speeches', 'arraySpeechScene', 'crowd', 'totalScore']),
      crowdAudio () {
        const crowdResponse = this.arraySpeechScene[this.speechIndex].type
        return this.crowd[crowdResponse].audio
      },
      getVideo () {
        return this.crowd[this.arraySpeechScene[this.speechIndex].type].video
      }
    },
    mounted () {
      const bgMusic = document.getElementById('bg-music')
      bgMusic.pause()
    },
    methods: {
      incrementSpeechIndex () {
        this.showNextButton = false
        this.showCrowd = false

        if (this.speechIndex >= this.arraySpeechScene.length - 1) {
          this.$router.push('/consequence')
        } else {
          this.speechIndex++

          const section = this.$refs.section
          section.style.backgroundImage = `url(${require(`@/assets/images/speech/rally-bg.jpg`)})`
        }
      },
      handleAudioEnded () {
        const backgroundImage = this.crowd[this.arraySpeechScene[this.speechIndex].type].image

        if (this.showCrowd === false) {
          if (backgroundImage !== null) this.$refs.section.style.backgroundImage = `url(${backgroundImage})`

          this.showCrowd = true
          this.showNextButton = true
        } else {
          this.showNextButton = true
        }
      }
    }
  }
</script>


<style lang="scss" scoped>
  section {
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  video {
    background-color: #2b2b2b;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .buttons {
    position: fixed;
    top: 10vh;
    left: 10vh;
  }

  .box {
    font-family: "Jua Regular", sans-serif;
    font-size: 2.5em;
    background: rgba(192, 192, 192, 0.9);
    border: 3px solid #1a1e1f;
    border-radius: 25px;
    padding: 5%;
  }
</style>
