<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/images/town-map/town-map.jpg`)})`}">
    <div class="container">
       <div class="scene-buttons columns is-full-tablet">
        <div class="top-mayor has-text-centered">
          <button class="button goto-mayor"
                  :style="{ backgroundImage: `url(${require(`@/assets/images/backgrounds/bg-mayor.jpg`)})` }"
                  @click="gotoMayor">
            <span>Mayor</span>
            <img :src="require(`@/assets/images/speech/mayor-default.png`)" alt="Image of Mayor">
          </button>
        </div>

        <button class="button scene-button" :class="`is-${scene.name.toLowerCase().replace(/\s+/g, '-')}`"
                :style="{ backgroundImage: `url(${require(`@/assets/images/backgrounds/bg-${scene.name.toLowerCase().replace(/\s+/g, '-')}.jpg`)})` }"
                :disabled="scene.completed || !isMayorSelected" v-for="scene in towns" @click="setSelectedScene(scene)">
          <span>{{ scene.name }}</span>

          <img :src="require(`@/assets/images/characters/${scene.character}`)"/>
        </button>
      </div>
    </div>

    <div class="scene-ready has-text-centered" v-if="scenesCompleted">
      You have spoken to all the people at Pineville! Talk to the Mayor and get ready for the speech.
    </div>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'Town',
    beforeRouteEnter (to, from, next) {
      next(() => {
        const audio = document.getElementById('bg-music')

        audio.play()
      })
    },
    computed: {
      ...mapState(['isMayorSelected', 'towns', 'totalScore']),
      ...mapGetters(['scenesCompleted'])
    },
    methods: {
      setSelectedScene (scene) {
        this.$store.commit('setSelectedScene', scene)
        this.$store.commit('setSceneCompleted', scene)

        this.$router.push('/resident')
      },
      gotoMayor () {
        this.$router.push('/mayor')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $acme: 'acme regular', sans-serif;
  $jua: 'jua regular', sans-serif;
  $black: #1a1e1f;

  section {
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  .scene-ready {
    position: fixed;
    width: 97%;
    top: 55%;
    background: #211c1c;
    font-family: $acme;
    font-size: 2em;
    color: #ffa400;
    border-radius: 25px;
    padding: 1% 0;
  }

  .container {
    height: 100%;
  }

  .scene-buttons {
    height: 100%;
    position: relative;

    span {
      text-transform: uppercase;
      font-family: $jua;
      font-size: 1.2em;
      position: absolute;
      z-index: 5;
      top: 75%;
      color: #ffa400;
      background: #211c1c;
      width: 90%;
    }

    button {
      overflow: hidden;
      background-color: transparent;
      height: 27vh;
      width: 27vh;
      border: 5px solid #211c1c;
      transition: all 0.5s ease;
      border-radius: 50%;

      img {
        width: 100%;
        transition: all 0.5s ease;

        &:hover {
          transform: scale(1.1);
          background-color: rgba(243, 147, 0, 0.45);
        }
      }

      &:disabled {
        img {
          &:hover {
            transform: scale(1);
            background-color: transparent;
          }
        }

        &:hover {
          border: 5px solid #211c1c;

          span {
            background: #211c1c;
            border: none;
            color: #ffa400;
          }
        }
      }

      &:hover {
        border: 5px solid #ffa400;

        span {
          border: none;
          color: #211c1c;
          background: #ffa400;
        }
      }
    }

    .top-mayor {
      width: 100%;
    }

    .is-mayor {
      background-size: cover;

      img {
        margin-top: -10%;
      }
    }

    .is-resident {
      background-size: cover;
      position: absolute;
      top: 25%;
      right: 10%;

      img {
        margin-top: -15%;
      }
    }

    .is-farmer {
      background-size: cover;
      position: absolute;
      top: 25%;
      left: 10%;

      img {
        margin-top: -20%;
      }
    }

    .is-business-owner {
      background-size: cover;
      position: absolute;
      bottom: 0;
      right: 20%;

    }

    .is-nature-lover {
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 20%;

      img {
        margin-top: -30%;
      }
    }
  }

  @keyframes rotationTwo {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }
</style>
