<template>
    <div id="app">
        <section v-show="isLandscape">
            <transition enter-active-class="animated fadeIn">
                <router-view/>
            </transition>

            <audio id="bg-music" :src="require(`@/assets/audio/bg-intro.mp3`)" autoplay loop></audio>
        </section>

        <section class="hero is-fullheight rotate-screen" v-show="!isLandscape"
                 :style="{ backgroundImage: `url(${require(`@/assets/images/backgrounds/bg-mayor.jpg`)})` }">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered has-text-centered">
                        <div class="column">
                            <h1 class="title is-uppercase">Kindly adjust your screen for a better view</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'App',
    computed: {
      ...mapState(['isLandscape'])
    },
    mounted () {
      this.changeOrientation()

      window.addEventListener('resize', this.changeOrientation)
    },
    methods: {
      changeOrientation () {
        this.$store.commit('isLandscape', window.innerWidth > window.innerHeight * 1.25 && window.innerHeight > window.innerWidth / 3)
      }
    }
  }
</script>

<style lang="scss">
    @import './sass/app.scss';

    @font-face {
        font-family: 'Acme Regular';
        src: url("./assets/fonts/acme-regular.ttf") format('truetype');
    }

    @font-face {
        font-family: 'jua regular';
        src: url("./assets/fonts/jua-regular.ttf") format('truetype');
    }

    @font-face {
        font-family: 'Passionone Regular';
        src: url("./assets/fonts/passionone-regular.ttf") format('truetype');
    }

    @font-face {

        font-family: 'Passionone Bold';
        src: url("./assets/fonts/passionone-bold.ttf") format('truetype');
    }

    $passion: 'passionone regular', sans-serif;
    $bold: 'passionone bold', sans-serif;
    $acme: 'acme regular', sans-serif;
    $jua: 'jua regular', sans-serif;

    body, html {
        margin: 0;
        padding: 0;
        font-size: calc(0.5vh + 0.5vw + 0.5vmin);
        background-color: #000;
        overflow-x: hidden;
        overflow-y: hidden !important;
    }

    .rotate-screen {
        background-size: cover;
        background-position: center;

        h1 {
            font-family: $bold;
            font-size: 5vw;
            line-height: 80%;
            -webkit-text-stroke: 1px black;
            color: #ffa400;
            text-shadow:
                    3px 3px 0 #2b2b2b,
                    -1px -1px 0 #2b2b2b,
                    1px -1px 0 #2b2b2b,
                    -1px 1px 0 #2b2b2b,
                    1px 1px 0 #2b2b2b;
        }
    }

    .popup-enter-active {
        transition: all 1s;
    }

    .popup-enter {
        transform: translateY(100%);
    }

    .isDescription {
        img {
            margin-left: 100%;
        }
    }

    .button {
        font-family: "Passionone Regular", sans-serif;
        border: 1.5px solid #000;

        &.is-green {
            background-color: #7ae327;
        }

        &.is-grey {
            background-color: #c0c0c0;
        }

        &.is-orange {
            background-color: #ffa400;
        }

        &.is-red {
            background-color: #ff4661;
        }

        &.is-yellow {
            background-color: #e6cd00;
        }

        > span {
            &.icon {
                border: 1.5px solid #000;
                border-radius: 50%;
            }
        }

        &:disabled {
            border: 1.5px solid #000;
        }

        &:hover {
            border: 1.5px solid #000;

            span {
                &.icon {
                    animation-name: spin;
                    animation-duration: 0.5s;
                    animation-iteration-count: 1;
                    animation-timing-function: linear;
                }
            }
        }
    }

    @keyframes spin {
        0% {
            transform: rotate3d(0, 1, 0, 0deg);
        }
        50% {
            transform: rotate3d(0, 1, 0, 180deg);
        }
        100% {
            transform: rotate3d(0, 1, 0, 360deg);
        }
    }
</style>
